.build-and-share-your-app
  .title
    width: #{(316 / $font-size) + "em"}
    max-width: 100%
    height: #{(234 / $font-size) + "em"}
    display: block
    margin: #{(98 - 11) / $font-size + "em"} auto 0 auto
    background:
      image: url(../img/build.png)
      position: 50% 50%
      repeat: no-repeat
      color: transparent
    +hide-text()
    +background-size(100% auto)
  .js-extends
    width: 100%
    max-width: #{(549 / $font-size) + "em"}
    height: #{(249 * 1.5 / $font-size) + "em"}
    margin: #{(10 / $font-size) + "em"} auto 0 auto
    background:
      image: url(../img/platform-replace.png)
      repeat: no-repeat
      position: 90% 50%
      color: transparent
    +hide-text()
    +background-size(145% auto)
    margin-bottom: #{(30 / $font-size) + "em"}