.integrates-into-your-workflow
  height: #{(1000 / $font-size) + "em"}
  .intergrate
    width: #{(780 / $font-size) + "em"}
    max-width: 90%
    height: #{(110 / $font-size) + "em"}
    margin: #{(136 / $font-size) + "em"} auto #{(80 / $font-size) + "em"} auto
    background-image: url(../img/intergrate-large.png)
  .dropbox
    display: none
  .js-extends
    width: 80%
    max-width: #{(1300 / $font-size) + "em"}
    margin: 0 auto
    display: block