.work-on-different-platforms
  min-height: #{(800 / $font-size) + "em"}
  display: block
  background-color: #f2f2f2
  .title
    width: #{(900 / $font-size) + "em"}
    max-width: 90%
    height: #{(192 / $font-size) + "em"}
    display: block
    margin: #{136 / $font-size + "em"} auto #{33 / $font-size + "em"} auto
    background:
      image: url(../img/work-on.png)
      position: 50% 50%
      repeat: no-repeat
      color: transparent
    +hide-text()
    +background-size(100% auto)
  .js-extends
    width: 80%
    max-width: #{(1200 / $font-size) + "em"}
    padding: 0
    margin: 0 auto // #{(120 / $font-size) + "em"} auto