
<div id="mobile-menu">
    <div class="close" id="close-mobile-menu">Close</div>
    <nav class="mobile-navigation">
        <ul>
            <li class="item"><a href="#">Features</a></li>
            <li class="item"><a href="#">Sketchpad</a></li>
            <li class="item"><a href="#">Download</a></li>
            <li class="item countries">
                <p>Language</p>
                <ul class="countries">
                    <li class="country us active"><a href="#" class="hide-text">United States</a></li>
                    <li class="country tw"><a href="#" class="hide-text">Taiwan</a></li>
                    <li class="country jp"><a href="#" class="hide-text">Japan</a></li>
                </ul>
            </il>
        </ul>
    </nav>
</div>

<footer class="footer" id="footer" role="banner">
    <div class="social-network">
        <a href="https://twitter.com/share?url=https%3A%2F%2Fpopapp.in" class="mobile twitter" target="_blank">Twitter</a>
        <a href="#" class="mobile facebook" target="_blank">Facebook</a>
        <div class="desktop facebook">
            <div class="fb-like" data-href="https://popapp.in" data-width="120" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
        <div class="desktop twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://popapp.in" data-via="woomooinc" data-lang="en">Tweet</a>
        </div>
        <div class="desktop twitter-to">
            <a href="https://twitter.com/intent/tweet?screen_name=woomooin" class="twitter-mention-button" data-lang="en">Tweet to @woomooin</a>
        </div>
    </div>
    <div class="woomoo-copyright">
        <ul class="terms-privacy">
            <li class="item"><a href="#">Terms</a></li>
            <li class="item"><a href="#">Privacy</a></li>
            <li class="item"><a href="#">Press Kit</a></li>
        </ul>
        <div class="woomoo">
            &copy; WOOMOO INC 2014
        </div>
    </div>
</footer>