<header class="header <%= header %>" id="header" role="banner">
    <h1 class="logo hide-text">POP<p class="description">Prototyping on paper</p></h1>
    <nav class="navigation" id="navigation" role="navigation">
        <ul class="hidden-mobile">
            <li class="nav features"><a href="#">Features</a></li>
            <li class="nav sketchpad"><a href="#">Sketchpad</a></li>
            <li class="nav support"><a href="#">Support</a></li>
            <li class="nav login active"><a href="https://popapp.in/login">Log in</a></li>
            <li class="nav countries" id="countries">
                <ul>
                    <li class="country us active"><a href="#" class="hide-text">United States</a></li>
                    <li class="country tw"><a href="#" class="hide-text">Taiwan</a></li>
                    <li class="country jp"><a href="#" class="hide-text">Japan</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="mobile-navigation-bar" id="slidemenu">
        <div class="bar"></div>
    </div>
</header>