<header class="header <%= header %>" id="header" role="banner">
    <h1 class="logo hide-text">POP<p class="description">Prototyping on paper</p></h1>
    <nav class="navigation" id="navigation" role="navigation">
        <ul class="hidden-mobile">
            <li class="nav features"><a href="#">Features</a></li>
            <li class="nav sketchpad"><a href="#">Sketchpad</a></li>
            <li class="nav support"><a href="#">Support</a></li>
            <li class="nav login active"><a href="#">Log in</a></li>
            <li class="nav countries">
                <ul>
                    <li class="country us hide-text"><a href="#">United States</a></li>
                    <li class="country tw hide-text"><a href="#">Taiwan</a></li>
                    <li class="country jp hide-text"><a href="#">Japan</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>