---
title: Feature | POPAPP
---

<%= partial "_header", :locals => {:header => ''} %>

<div class="container features" id="container" role="main">
    <section class="sections feature-landing" id="feature-landing">
        <h3 class="landing-title"></h3>
        <div class="scroll-down"></div>
    </section>
    <section class="sections ssl-encryption">
        <div class="lock-icon"></div>
        <div class="description"></div>
    </section>
    <section class="sections fast-importing">
        <div class="description"></div>
        <div class="iphone-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections rapid-duplication">
        <div class="description"></div>
        <div class="iphone-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections organize-your-projects">
        <div class="description"></div>
        <div class="iphone-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections scrolling">
        <div class="description"></div>
        <div class="ipad-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections transitions">
        <div class="description"></div>
        <div class="ipad-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections gestures">
        <div class="description"></div>
        <div class="ipad-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections dropbox-sync">
        <div class="description"></div>
        <div class="dropbox"></div>
        <div class="js-extends"></div>
    </section>
    <section class="sections share">
        <div class="description"></div>
        <div class="iphone-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections co-working-mode">
        <div class="description"></div>
        <div class="iphone-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections multi-platform-support">
        <div class="description"></div>
        <div class="js-extends"></div>
    </section>
    <section class="sections feature download-app">
        <div class="mask"></div>
        <h3 class="title"></h3>
        <a href="#" class="download-pop">Download POP</a>
        <div class="download-from-store">
            <a href="#" class="download-ios">Download POP</a>
            <a href="#" class="download-android">Download POP</a>
        </div>
    </section>
</div>