---
title: Feature | POPAPP
---

<%= partial "_header", :locals => {:header => ''} %>

<div class="container features" id="container" role="main">
    <section class="sections feature-landing" id="feature-landing">
        <h3 class="landing-title">
            <p>POP makes it easy to bring your ideas to life.</p>
            <p>We believe that you shouldn't have to scrifice privacy or originality to build your app the way you envisioned. Our goal is to streamline the process of developing your designs - so you can focus on making the best app possible.</p>
        </h3>
        <div class="scroll-down"></div>
    </section>
    <section class="sections ssl-encryption">
        <div class="lock-icon">128 bit SSL encryption</div>
        <div class="description">
            <p>128 bit SSL encryption</p>
            <p>We take your privacy seriously. That's why we have integrated 128 bit SSL encryption, the most powerful security out there, into our app. Your ideas and data are safe with us.
        </div>
    </section>
    <section class="sections fast-importing">
        <div class="description">
            <p>Fast importing</p>
            <p>Have the freedom to create as many mockups as you want - POP makes it easy to import and crop multiple images at once.</p>
        </div>
        <div class="iphone-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections rapid-duplication">
        <div class="description">
            <p>Rapid duplication</p>
            <p>We make it easy to duplicate your projects, mockups, and links, helping you edit and compare fully-funcional ideas. This is especially helpful when your mockups have similar layouts, allowing you to skip building out the same links multiple times.</p>
        </div>
        <div class="iphone-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections organize-your-projects">
        <div class="description">
            <p>Organize your projects</p>
            <p>Never worry about having too many mockups or losing track of which is which. POP's tagging feature allows yout to categorize your files so that you can always find exactly what you're looking for.</p>
        </div>
        <div class="iphone-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections scrolling">
        <div class="description"></div>
        <div class="ipad-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections transitions">
        <div class="description">
            <p>Transitions</p>
            <p>POP offers 5 types of transitions, including fade, next, back, rise, and dismiss, so that your flow looks like the real thing.</p>
        </div>
        <div class="ipad-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections gestures">
        <div class="description">
            <p>Gestures</p>
            <p>We offer every gesture that you will possibly need, including touch, swipe, and pinch, allowing you to navigate your app the same way your users will.</p>
        </div>
        <div class="ipad-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections dropbox-sync">
        <div class="description">
            <p>Dropbox sync</p>
            <p>Never worry about losing your profress or working from different devices. Every change you make will be automatically synced to your POP account through Dropbox. We support JPG, PNG, and BMP.</p>
        </div>
        <div class="dropbox"></div>
        <div class="js-extends"></div>
    </section>
    <section class="sections share">
        <div class="description">
            <p>Share</p>
            <p>POP has multiple sharing methods available so that you can share your progress with others. If you want to work privately for a bit, no problem - just turn off the sharing feature. All the links you've shared will stop working and your project will immediately become private.</p>
        </div>
        <div class="iphone-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections co-working-mode">
        <div class="description">
            <p>Co-working mode</p>
            <p>Your team can easily comment on your mockups, so that your can get valuable feedback without ever leaving the app.</p>
        </div>
        <div class="iphone-video">
            <div class="video">
            </div>
        </div>
    </section>
    <section class="sections multi-platform-support">
        <div class="description">
            <p>Multi-platform support</p>
            <p>With POP, you can not only create and edit your project on tour phone, but also access your projects on your tablet and desktop, allowing you to focus on your designs where you need to, when you need to.</p>
        </div>
        <div class="js-extends"></div>
    </section>
    <section class="sections feature download-app">
        <div class="mask"></div>
        <h3 class="title">Download POP now and get started on your first app!</h3>
        <a href="#" class="download-pop">Download POP</a>
        <div class="download-from-store">
            <a href="#" class="download-ios">App Store</a>
            <a href="#" class="download-android">Google play</a>
        </div>
    </section>
</div>