---
title: POPAPP
---

<%= partial "_header", :locals => {:header => ''}  %>

<div class="container" id="container" role="main">
    <section class="sections popapp-landing" id="popapp-landing">
        <div class="bg-landing bg-landing-notebook"></div>
        <div class="bg-landing bg-landing-nbl"></div>
        <div class="bg-landing bg-landing-skechpad"></div>
        <div class="mask"></div>
        <h3 class="landing-title" id="landing--title">
            <p>Have an app idea? Make it real, with POP.</p>
            <p>Whether you're a student, a designer, or an entrepreneur, POP helps you transform your pen + paper ideas into a real working prototype.</p>
        </h3>
        <a href="#" class="download-app">Download App</a>
        <a href="#" class="watch-video" id="landing--watch-video">Watch Video</a>
        <div class="download-from-store" id="landing--download-app">
            <a href="#" class="download-ios">Download POP</a>
            <a href="#" class="download-android">Download POP</a>
        </div>
        <div class="social-network" id="landing--social-network">
            <div class="desktop facebook">
                <div class="fb-like" data-href="https://popapp.in" data-width="120" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
            <div class="desktop twitter">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://popapp.in" data-via="woomooinc" data-lang="en">Tweet</a>
            </div>
            <div class="desktop twitter-to">
                <a href="https://twitter.com/woomooin" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @woomooin</a>
            </div>
        </div>
    </section>
    <section class="sections simple-intutive-powerful" id="simple-intutive-powerful">
        <h3 class="simple">Simple. Intutive. Powerful.</h3>
        <a class="learn-more" href="/feature.html">Learn More</a>
        <div class="js-extends" id="simple-intutive-extends">
        </div>
    </section>
    <section class="sections make-anyones-app-a-reality" id="make-anyones-app-a-reality">
        <div class="mask"></div>
        <div class="carousel mobile" id="reality-carousel">
            <ul class="slides">
                <li class="item first-child">
                    <div class="slide description">
                        <p>POP can make anyone's app a reality.</p>
                        <p>It doesn't matter who you are or what you're trying to do - POP makes it easier to present, share, and explain your app ideas.</p>
                    </div>
                </li>
                <li class="item">
                    <div class="slide entrepreneurs">
                        <p>Entrepreneurs</p>
                        <p>Use POP to share and your app idea before you dive into all the work of building it.</p>
                    </div>
                </li>
                <li class="item">
                    <div class="slide ad-agencies">
                        <p>Ad Agencies</p>
                        <p>Use POP to build concrete app proposals, making it easier (and cheaper!) to communicate with clients.</p>
                    </div>
                </li>
                <li class="item">
                    <div class="slide designers">
                        <p>Designers</p>
                        <p>Use POP to plan your design flow and do quick user testing on app prototypes.</p>
                    </div>
                </li>
                <li class="item">
                    <div class="slide students">
                        <p>Students</p>
                        <p>Use POP to gain a more solid understanding of UI + UX design.</p>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="carousel desktop">
            <li class="item first-child">
                <div class="description">
                    <p>POP can make anyone's app a reality.</p>
                    <p>It doesn't matter who you are or what you're trying to do - POP makes it easier to present, share, and explain your app ideas.</p>
                </div>
            </li>
            <li class="item entrepreneurs">
                <p>Entrepreneurs</p>
                <p>Use POP to share and your app idea before you dive into all the work of building it.</p>
            </li>
            <li class="item ad-agencies">
                <p>Ad Agencies</p>
                <p>Use POP to build concrete app proposals, making it easier (and cheaper!) to communicate with clients.</p>
            </li>
            <br class="float-breakflow">
            <li class="item designers">
                <p>Designers</p>
                <p>Use POP to plan your design flow and do quick user testing on app prototypes.</p>
            </li>
            <li class="item students">
                <p>Students</p>
                <p>Use POP to gain a more solid understanding of UI + UX design.</p>
            </li>
        </ul>
    </section>
    <section class="sections work-on-different-platforms">
        <h3 class="title">
            <p>WOrk on different platforms to smooth your workflow.</p>
            <p>You can upload your mockups from mobile and edit on your desktop with bigger screen. Every change you make can be showed on different devices simulataneously so you can discuss with your team by commenting on the mockup anytime.</p>
        </h3>
        <div class="js-extends">
            <div class="EDGE-99759421" style="margin: 0 auto; padding: 0;"></div>
        </div>
    </section>
    <section class="sections build-and-share-your-app">
        <h3 class="title"></h3>
        <div class="js-extends">
        </div>
    </section>
    <section class="sections integrates-into-your-workflow">
        <h3 class="intergrate">
            <p>POP integrates into your workflow.</p>
            <p>Link with Dropbox, import all of your mockups, and start syncing!</p>
        </h3>
        <div class="dropbox"></div>
        <div class="js-extends">
            <div class="EDGE-16923691" style="margin: 0 auto; padding: 0;"></div>
        </div>
    </section>
    <section class="sections as-seen-on">
        <p class="thin">As seen on</p>
        <ul>
            <li class="smashing-mg"><a href="http://www.smashingmagazine.com/2014/03/06/building-clickthrough-prototypes-to-support-participatory-design/">Smashing Magzine</a></li>
            <li class="tnw"><a href="http://thenextweb.com/apps/2012/11/17/pop-this-iphone-app-is-every-designers-missing-puzzle-piece-for-prototyping-on-paper/?fromcat=all">TNW</a></li>
            <li class="hack-news"><a href="https://news.ycombinator.com/item?id=4789281">Hacker News</a></li>
            <li class="codesign"><a href="http://www.fastcodesign.com/1671490/design-your-app-on-paper-animate-it-with-your-iphone-camera">Co. Design</a></li>
        </ul>
    </section>
    <section class="sections reviews">
        <div class="buttons">
            <button type="button" id="prev-review" class="prev-review">Prev</button>
            <button type="button" id="next-review" class="next-review">Next</button>
        </div>
        <div class="carousel" id="review-carousel">
            <ul class="slides">
                <li class="item jason-fried">
                    <div class="quote"></div>
                    <div class="description">
                        <p>Love what you've done with the POP idea. Funny! I was about to explore something very similar. Glad to see someone made it happen.</p>
                    </div>
                    <div class="icon-and-title">
                        <a href="http://37signals.com/">
                            <p class="icon">Jason Fried</p>
                            <p class="title">Founder &amp; CEO at Basecamp</p>
                        </a>
                    </div>
                </li>
                <li class="item steve-chen">
                    <div class="quote"></div>
                    <div class="description">
                        <p>When doing mockups, I still find the traditional method of pen &amp; paper to be the most convenient and comfortable. POP has not only made that possible, but a joy.</p>
                    </div>
                    <div class="icon-and-title">
                        <a href="http://www.avos.com/">
                            <p class="icon">Steve Chen</p>
                            <p class="title">Founder at YouTube</p>
                        </a>
                    </div>
                </li>
                <li class="item phill-ryu">
                    <div class="quote"></div>
                    <div class="description">
                        <p>This is delightful - it's your back of the napkin app UI sketches come to life in the most simple way possible, and ready to share with collaborators with a tap.</p>
                    </div>
                    <div class="icon-and-title">
                        <a href="http://impending.com/">
                            <p class="icon">Phill Ryu</p>
                            <p class="title">CEO &amp; Co-founder at IMPENDING</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="sections download-app">
        <div class="mask"></div>
        <h3 class="title">Download POP now and get started on your first app!</h3>
        <a href="#" class="download-pop">Download POP</a>
        <div class="download-from-store">
            <a href="#" class="download-ios">App Store</a>
            <a href="#" class="download-android">Google Play</a>
        </div>
    </section>
</div>
<script src="js/platform-js/platform_edgePreload.js"></script>
<script src="js/dropbox-js/platform_0519_edgePreload.js"></script>
